{{ partial "header" . }}

<header id="header" class="header site-header" style="display:block">
  <div class="container sep-after">
    <div class="header-info">
      <p class="site-title title">Contact</p>
      <p class="desc site-desc">Always a message away!</p>
    </div>
  </div>
</header>


<div class='home-widgets'>
  <div class='container sep-before'>
    <!-- <form action="https://formspree.io/tahalatief@gmail.com"
          method="POST">
          <div class="form-control">
        <input type="text" name="name" placeholder="Your Name"> </div>
          <div class="form-control">
        <input type="email"  placeholder="Your Email" name="_replyto">
        </div>
            <div class="form-control">
        <textarea name="message" placeholder="Message" > </textarea> </div>

        <input type="submit" value="Reach me">
    </form> -->
    <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrSN8gNrDaKuxQiJ?backgroundColor=green" frameborder="0" onmousewheel="" width="100%" height="775" style="background: transparent; border: 1px solid #ccc;"></iframe>
  </div>
</div>


{{ partial "footer" . }}
